@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme colors */
:root {
  --background: #FFFFFF;
  --brand-primary: #DED249;
  --brand-secondary: #EAE3A5;

  /* Text colors */
  --text-primary: #404040;
  --text-secondary: #808E91;
  --text-ternary: #A3AEB1;
  --text-invert: #ffffff;
  --text-accent: #DED249;
  --text-error: #BF1F25;

  /* Surface colors */
  --surface-primary: #FFFFFF;
  --surface-secondary: #F9FBFC;
  --surface-component: #404040;
  --surface-component-hover: #000000;
  --surface-component-secondary: #F9FBFC;
  --surface-component-secondary-hover: #EAE3A5;
  --surface-hover: #f6f4f4;
  --surface-accent: #EAE3A5;

  /* Border colors */
  --border-primary: #E1E6EA;

  --ring-primary: #E1E6EA;
}

body {
  color: var(--text-primary);
  background: var(--background);
  font-family: var(--font-base);
  border-color: var(--border-primary);
}

a {
  cursor: pointer;
}

/* Only keep the essential react-multi-carousel override */
.react-multi-carousel-dot-list {
  bottom: 0 !important;
  display: flex !important;
  justify-content: center !important;
  gap: 0.5rem !important;
}